.next
next-env.d.ts
node_modules
package-lock.json
public
out

storybook-static
src/node-lib/curriculum-api-2023/generated
src/node-lib/sanity-graphql/generated
src/node-lib/educator-api/generated

!.github
