engine-strict=true
minimum-release-age=10080
minimum-release-age-exclude[]=@oaknational/google-classroom-addon
minimum-release-age-exclude[]=@oaknational/oak-components
minimum-release-age-exclude[]=@oaknational/oak-consent-client
minimum-release-age-exclude[]=@oaknational/oak-curriculum-schema