.button {
  composes: button-unstyle from "../../styles/button-unstyle.module.css";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 12px;
  max-width: 100%;
}

.button:not(:last-of-type) {
  margin-right: 12px;
}

.button-label {
  composes: ellipsis from "../../styles/ellipsis.module.css";
}

.button-icon-wrapper {
  margin-left: 8px;
}

.variant--rounded {
  border-radius: 24px;
  height: 48px;
  padding: 0 24px;
  background: var(--color-primary);
  color: var(--color-primary-contrast);
}

.variant--text-link:focus {
  text-decoration: underline;
}
