/* button core */

.button {
  composes: button-unstyle from "../../styles/button-unstyle.module.css";
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  max-width: 100%;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* button size */

.small {
  height: 40px;
  border-radius: 20px;
  padding: 0 12px;
}

.large {
  height: 48px;
  border-radius: 24px;
  padding: 0 16px;
}

/* button label */

.labelSpan {
  composes: ellipsis from "../../styles/ellipsis.module.css";
}

/* button icon */

.leadingIcon {
  flex-direction: row;
}

.trailingIcon {
  flex-direction: row-reverse;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
}

.leadingIcon .iconWrapper {
  margin-right: 8px;
}

.trailingIcon .iconWrapper {
  margin-left: 8px;
}

/* button variant */

.primary {
  composes: bg-primary from "../../styles/colors.module.css";
}

.secondary {
  composes: bg-secondary from "../../styles/colors.module.css";
}

.tertiary {
  composes: bg-tertiary from "../../styles/colors.module.css";
}
