/* button core */

/* button size */

/* button icon */

/* button variant */

.primary {
  composes: bg-primary from "../../styles/colors.module.css";
}

.secondary {
  composes: bg-secondary from "../../styles/colors.module.css";
}

.tertiary {
  composes: bg-tertiary from "../../styles/colors.module.css";
}
