@value mobile from "../../styles/breakpoints.css";

.main {
  max-width: 1200px;
  margin: 72px auto;
  padding: 24px;
}

.title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 16px;
}

.lesson-overview-text {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 12px;
  color: rgb(92 60 203);
}

.primary-buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media mobile {
  .main {
    padding: 12px;
  }

  .primary-buttons {
    justify-content: flex-start;
  }
}
