.bg-primary {
  background-color: var(--color-button-primary);
  color: var(--color-button-primary-contrast);
}

.bg-secondary {
  background-color: var(--color-button-secondary);
  color: var(--color-button-secondary-contrast);
}

.bg-tertiary {
  background-color: var(--color-button-tertiary);
  color: var(--color-button-tertiary-contrast);
}
