/* Note: this file is for css variabls which will not change, notably greyscale */
:root {
  --color-bw-05: hsl(0deg 0% 5%);
  --color-bw-10: hsl(0deg 0% 10%);
  --color-bw-15: hsl(0deg 0% 15%);
  --color-bw-20: hsl(0deg 0% 20%);
  --color-bw-25: hsl(0deg 0% 25%);
  --color-bw-30: hsl(0deg 0% 30%);
  --color-bw-35: hsl(0deg 0% 35%);
  --color-bw-40: hsl(0deg 0% 40%);
  --color-bw-45: hsl(0deg 0% 45%);
  --color-bw-50: hsl(0deg 0% 50%);
  --color-bw-55: hsl(0deg 0% 55%);
  --color-bw-60: hsl(0deg 0% 60%);
  --color-bw-65: hsl(0deg 0% 65%);
  --color-bw-70: hsl(0deg 0% 70%);
  --color-bw-75: hsl(0deg 0% 75%);
  --color-bw-80: hsl(0deg 0% 80%);
  --color-bw-85: hsl(0deg 0% 85%);
  --color-bw-90: hsl(0deg 0% 90%);
  --color-bw-95: hsl(0deg 0% 95%);
}
