html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body,
/* stylelint-disable-next-line selector-id-pattern */
#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

* {
  box-sizing: border-box;
}
