.common {
  margin: 0px;
  padding: 0px;
}

.family-1 {
  composes: common;
  font-family: Lexend, sans-serif;
}

.family-2 {
  composes: common;
  font-family: ABeeZee, sans-serif;
}

.typography--variant-h1 {
  composes: family-1;
  font-size: 56px;
  line-height: 64px;
}

.typography--variant-h2 {
  composes: family-1;
  font-size: 48px;
  line-height: 56px;
}

.typography--variant-h3 {
  composes: family-1;
  font-size: 40px;
  line-height: 48px;
}

.typography--variant-h4 {
  composes: family-1;
  font-size: 32px;
  line-height: 40px;
}

.typography--variant-h5 {
  composes: family-1;
  font-size: 24px;
  line-height: 32px;
}

.typography--variant-h6 {
  composes: family-1;
  font-size: 20px;
  line-height: 24px;
}

.typography--variant-h7 {
  composes: family-1;
  font-size: 16px;
  line-height: 20px;
}

.typography--variant-body1 {
  composes: family-2;
  font-size: 18px;
  line-height: 24px;
}

.typography--variant-body2 {
  composes: family-2;
  font-size: 18px;
  line-height: 24px;
}

.typography--variant-body3 {
  composes: family-2;
  font-size: 14px;
  line-height: 20px;
}

.typography--variant-body4 {
  composes: family-2;
  font-size: 12px;
  line-height: 16px;
}

.typography--color-primary {
  color: #f2994a;
}

.typography--color-error {
  color: #eb5757;
}
