# Deploy a release tag or branch to Vercel using the Vercel CLI
# Note, this means losing the Github metadata like the PR links in the Vercel console
name: "Deploy"

on:
  release:
    types:
      - published
  push:
    branches:
  workflow_dispatch:

jobs:
  vercel:
    runs-on: ubuntu-latest
    name: "Deploy front-end"

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "npm"

      # Install.
      - run: npm ci
        env:
          HASURA_ADMIN_SECRET: ${{ secrets.HASURA_ADMIN_SECRET }}
          NEXT_PUBLIC_GRAPHQL_API_URL: ${{ secrets.NEXT_PUBLIC_GRAPHQL_API_URL }}

      # Determine if the current ref is a release tag.
      - uses: ./.github/actions/ref_is_release
        id: is_release

      - name: "Deploy to Vercel"
        run: |
          prodRelease=""
          if [[ ${IS_RELEASE} == "true" ]]; then
            prodRelease="--prod"
          fi

          npx vercel --token ${VERCEL_TOKEN} $prodRelease
        env:
          IS_RELEASE: ${{ steps.is_release.output.is_release }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_CLI_TOKEN }}
