@value mobile from "../../styles/breakpoints.css";

.card {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
}

.cardRadius {
  border-radius: 12px;
}

.card-primary {
  composes: card;
  composes: bg-primary from "../../styles/colors.module.css";
}

.card-secondary {
  composes: card;
  composes: bg-secondary from "../../styles/colors.module.css";
}

.card-tertiary {
  composes: card;
  composes: bg-tertiary from "../../styles/colors.module.css";
}

@media mobile {
  .card {
    padding: 12px;
  }
}
