.outerWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.innerWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* @todo perhaps these should be utility classes */
.color-icon-bookmarked {
  color: var(--color-icon-bookmarked);
}
