.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 72px;
  padding: 12px;
  background: var(--color-bw-95);
}

.title {
  margin-right: 12px;
}

.signInButtonWrapper {
  margin-left: auto;
}

.userThemeButton {
  composes: button-unstyle from "../../styles/button-unstyle.module.css";
  padding-right: 24px;
  text-transform: capitalize;
}

@media (min-width: 900px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}
