@value mobile from "../styles/breakpoints.css";

.card {
  background-color: var(--color-bw-95);
  height: 250px;
  border-radius: 12px;
  padding: 24px;
}

@media mobile {
  .card {
    padding: 12px;
  }
}
