.nav {
  overflow: hidden;
  margin-bottom: 24px;
}

.ol {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  max-width: 100%;
}

.a {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
  max-width: 100%;
}
