name: Code checks

on: push

jobs:
  lint_test_sonar:
    name: lint, test, Sonar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: "npm"

      # Install.
      - run: npm ci
        env:
          HASURA_ADMIN_SECRET: ${{ secrets.HASURA_ADMIN_SECRET }}
          NEXT_PUBLIC_GRAPHQL_API_URL: ${{ secrets.NEXT_PUBLIC_GRAPHQL_API_URL }}

      # Lint.
      - run: npm run lint

      # Unit tests, no integration tests.
      - run: npm run test:ci
        env:
          HASURA_ADMIN_SECRET: ${{ secrets.HASURA_ADMIN_SECRET }}
          NEXT_PUBLIC_GRAPHQL_API_URL: ${{ secrets.NEXT_PUBLIC_GRAPHQL_API_URL }}

      # # Storybook tests, require a Storybook server to be running, slow.
      # - run: npm run test:storybook:ci
      #   env:
      #     HASURA_ADMIN_SECRET: ${{ secrets.HASURA_ADMIN_SECRET }}
      #     NEXT_PUBLIC_GRAPHQL_API_URL: ${{ secrets.NEXT_PUBLIC_GRAPHQL_API_URL }}

      # # Manually run the SonarCloud scan so we can send test coverage information.
      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarcloud-github-action@master
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any

      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
