name: On PR Creation

on:
  pull_request:
    types: [opened]

jobs:
  add_music_year:
    permissions:
      contents: "read"
      id-token: "write"
      issues: write
      pull-requests: write

    name: add music year
    runs-on: ubuntu-24.04
    steps:
      - name: choose year
        id: choose_year
        run: |
          # Pick a random year between 1960 and 2023
          year=$(( ( RANDOM % 73 )  + 1950 ))
          echo "::set-output name=year::$year"

      - name: add year to PR body
        uses: mcky/find-and-replace-pull-request-body@v1.1.6-mcky
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          find: "{owa_music_year}"
          replace: ${{ steps.choose_year.outputs.year }}

  auto_label:
    permissions:
      contents: "read"
      pull-requests: write

    name: Auto-label CUR-* branches
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run labeler
        uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
